<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804677920667-64p8igvq4kmrcfv350ra6it8fchvju4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804677920667-64p8igvq4kmrcfv350ra6it8fchvju4q</string>
	<key>API_KEY</key>
	<string>AIzaSyBDRDUJbLwud62wPxDG06XQxo483NMdBnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>804677920667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team.GoalReacher</string>
	<key>PROJECT_ID</key>
	<string>goalreacher-d8d3d</string>
	<key>STORAGE_BUCKET</key>
	<string>goalreacher-d8d3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804677920667:ios:b46089ec1f6cb574cd233e</string>
</dict>
</plist>